:root {
  --vp-c-brand-1: #3eaf7c;
  --vp-c-brand-2: #33a06f;
  --vp-c-brand-3: #42b983;
}

.vp-doc h1 {
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-src {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image-src:hover {
  transform: scale(1.02);
}
